name: Deploy to container registry GCP
on: push

env:
  PROJECT_ID: ${{ secrets.GCR_PROJECT }}
  RUN_REGION: asia-south1
  SERVICE_NAME: react-docker-gcp
  BRANCH_NAME: ${{ secrets.BRANCH_TO_DEPLOY }}

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: condition
        if: github.ref == $BRANCH_NAME
        run: echo "The operating system on the runner is $GITHUB_REF_NAME"

      # - name: Set env BRANCH
      #   run: echo "BRANCH=$(echo $GITHUB_REF_NAME)" >> $GITHUB_ENV

      - name: Set env NEED
        run: |
          if [[ $GITHUB_REF_NAME == $BRANCH_NAME ]]; then
              echo "NEED=true" >> "$GITHUB_ENV"
          else
              echo "NEED=false" >> "$GITHUB_ENV"
          fi

      - name: Skip Deploy?
        if: env.NEED != 'true'
        run: exit 1

      - name: condition
        run: echo "The operating system on the runner is $GITHUB_REF_NAME"

      # - name: Setup GCloud Auth
      #   id: auth
      #   uses: google-github-actions/auth@v0.4.0
      #   with:
      #     credentials_json: ${{ secrets.GCR_SA_KEY }}

      # - name: Set up Cloud SDK
      #   uses: google-github-actions/setup-gcloud@v0.2.1

      # - name: Checkout
      #   uses: actions/checkout@v2

      # - name: Login to Docker
      #   run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}

      # - name: Build App
      #   run: docker build -t gcr.io/$PROJECT_ID/$SERVICE_NAME:$GITHUB_SHA .

      # - name: Configure Docker
      #   run: gcloud auth configure-docker --quiet

      # - name: Push Docker Image
      #   run: docker push gcr.io/$PROJECT_ID/$SERVICE_NAME:$GITHUB_SHA

      # - name: Deploy Docker image
      #   run: gcloud run deploy $SERVICE_NAME --quiet --image "gcr.io/$PROJECT_ID/$SERVICE_NAME:$GITHUB_SHA" --region "$RUN_REGION" --platform managed --allow-unauthenticated
