name: Deploy to s3bucket
on:
  push:
    branches:
      - dev

env:
  PROJECT_ID: ${{ secrets.GCR_PROJECT }}
  RUN_REGION: asia-south1
  SERVICE_NAME: react-docker-gcp

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup GCloud Auth
        id: auth
        uses: google-github-actions/auth@v0.4.0
        with:
          credentials_json: ${{ secrets.GCR_SA_KEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v0.2.1

      - name: Checkout
        uses: actions/checkout@v2
      - name: Login to Docker
        run: docker login -u ${{ secrets.DOCKER_USERNAME }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Build App
        run: docker build -t gcr.io/$PROJECT_ID/$SERVICE_NAME .
      # - name: test
      #   run: docker run -e CI=true gcr.io/$PROJECT_ID/$SERVICE_NAME npm test
      # - name: S3/CloudFront Deploy
      #   uses: staevs/s3-deploy-action@v1.2.1
      #   if: success()
      #   with:
      #     args: --follow-symlinks --delete --no-progress
      #   env:
      #     AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      #     AWS_REGION: "us-east-1"
      #     AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
      #     AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      #     S3_SOURCE_DIR: "/usr/share/nginx/html"

      # - name: Build & Push
      #   run: docker run  -it appp  ls usr/share/nginx/html

      - name: Configure Docker
        run: gcloud auth configure-docker --quiet

      - name: Push Docker image
        run: docker push gcr.io/$PROJECT_ID/$SERVICE_NAME

      # - name: Login
      #   uses: google-github-actions/setup-gcloud@v0
      #   with:
      #     project_id: $PROJECT_ID
      #     service_account_email: ${{ secrets.GCP_EMAIL }}
      #     service_account_key: ${{ secrets.GCR_SA_KEY }}

      # - name: Configure Docker
      #   run:
      #     gcloud auth configure-docker --quiet

      # Build and push image to Google Container Registry
      # - name: Build & Push
      #   run: ls

      #   |-
      #     gcloud builds submit \
      #       --quiet \
      #       --tag "gcr.io/$PROJECT_ID/$SERVICE_NAME"
      #   working-directory: ./usr/share/nginx/html

      # # Deploy image to Cloud Run
      # - name: Deploy GCR
      #   run: |-
      #     gcloud run deploy "$SERVICE_NAME" \
      #       --quiet \
      #       --region "$RUN_REGION" \
      #       --image "gcr.io/$PROJECT_ID/$SERVICE_NAME" \
      #       --platform "managed" \
      #       --allow-unauthenticated

      - name: Deploy Docker image
        run: gcloud run deploy poc-service --quiet --image "gcr.io/$PROJECT_ID/$SERVICE_NAME" --region "$RUN_REGION" --platform managed --allow-unauthenticated
#poc-service
